.page-title {
  font-size: $size_h2;
  margin-bottom: 1rem;
}

.dermatologist-search {
  padding: 2rem;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 2rem;

  .show-all {
    font-size: 12px;
  }
}

.search-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .search-field {
    width: 48%;
    margin-bottom: 1rem;

    &:first-of-type {
      margin-right: 4%;
    }
  }
}


.search-submit {
  float: right;
  display: block;
}

.search-queries {
  font-size: 90%;
  font-style: italic;
}


.dermatologist-card {
  width: 100%;
  display: flex;
  background-color: #f8faff;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);

  .feat-img {
    width: 180px;
    height: 180px;
    border: 4px solid $primary;
    border-radius: 50%;
    margin: 0 2rem .6rem 0;

    &.empty {
      background-image: url('../images/profile.png');
    }
  }
}
