.white { color: #FFF; }
.blue { color: $primary; }
.green { color: $primary_green; }
.red { color: $primary_red; }
.black { color: #000; }

.tc { text-align: center; }
.bold { font-weight: 600; }
.bolder { font-weight: 700; }

.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
.pt1 { padding-top: 1rem; }
.pt2 { padding-top: 2rem; }
.pt3 { padding-top: 3rem; }
.pb1 { padding-bottom: 1rem; }
.pb2 { padding-bottom: 2rem; }

.mb3 {
  margin-bottom: 3rem;

  @include media-breakpoint-down(sm){
    margin-bottom: 2rem;
  }
}

.mb4 {
  margin-bottom: 4rem;

  @include media-breakpoint-down(sm){
    margin-bottom: 2rem;
  }
}

.pb3 {
  padding-bottom: 3rem;

  @include media-breakpoint-down(sm){
    padding-bottom: 2rem;
  }
}

.pb4 {
  padding-bottom: 4rem;
  @include media-breakpoint-down(sm){
    padding-bottom: 2.2rem;
  }
}

.pt4 {
  padding-top: 4rem;
  @include media-breakpoint-down(sm){
    padding-top: 2.2rem;
  }
}

.title-2 {
  font-size: $size_h1;

  @include media-breakpoint-down(sm){
    font-size: 42px;
  }
}

.title-3 {
  font-size: $size_h2;

  @include media-breakpoint-down(md){
    font-size: 26px;
  }

  @include media-breakpoint-down(sm){
    font-size: 22px;
  }
}

.title-4 {
  font-size: $size_h3;
}

.desc {
  font-size: $size_p;
  font-weight: 600;

  @include media-breakpoint-down(sm){
    font-size: 13px;
  }

  ul {
    padding-left: 1.1rem;
  }
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
}


/*  Preloader
----------------------------------------------------------------------*/
.css-loader,
.css-loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

.css-loader {
  display: block;
  margin-left:auto;
  margin-right:auto;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 0.5em solid rgba($primary, 0.4);
  border-right: 0.5em solid rgba($primary, 0.4);
  border-bottom: 0.5em solid rgba($primary, 0.4);
  border-left: 0.5em solid $primary;
  transform: translateZ(0);
  animation: cssSpinner 1.1s infinite linear;

  &.white {
    border-top: 0.5em solid rgba(#FFF, 0.4);
    border-right: 0.5em solid rgba(#FFF, 0.4);
    border-bottom: 0.5em solid rgba(#FFF, 0.4);
    border-left: 0.5em solid #FFF;
  }

  &.small {
    border-width:0.4em;
    width: 2em;
    height: 2em;

    &:after {
      width: 2em;
      height: 2em;
    }
  }
}

@keyframes cssSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
