
/* Global css
------------------------------------------------------------*/
body {
  font-family: $open_sans;
  font-weight: 400;
  counter-reset: section;
  opacity: 1;
  transition: opacity 600ms ease;

  &.site-loaded {
    opacity: 1;
  }
}


main {
  &.site-main {
    width: 100%;
    min-height: calc(100vh);
    position: relative;
  }
}

/* Global classes
------------------------------------------------------------*/
.hide {
  display: none;
}

.wrapper {
  position: relative;

  @include media-breakpoint-up(xl) {
  }
}


/* Links
------------------------------------------------------------*/
a {
  color: #000;

  &:hover,
  &:focus,
  &:active {
    border: 0;
    outline: none;
  }
}

/* Bold
------------------------------------------------------------*/
strong,
b {
  font-style: normal;
  font-weight: 700;
}

/* Headings
------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  font-weight: 600;
}

h1 {
  font-size: $size_h1;

  @include media-breakpoint-down(sm){
    font-size: $size_h2;
  }
}

h2 {
  font-size: $size_h2;
}

h3 {
  font-size: $size_h3;
}

h4 {
  font-size: $size_h4;
}

h5 {
  font-size: $size_h5;
}


/* Colors
------------------------------------------------------------*/
.color-dark-grey {
  color: $text_color_dark;
}

.color-primary {
  color: $primary;
}
