
//CSS Paths
$path-fonts: "../fonts" !default;
$path-images: "../images" !default;

//Colors
$primary: #005884;
$primary_shadow: #368486;
$primary_blue: #033769;
$secondary: #97BE0D;
$secondary_blue: #29ABE2;
$primary_yellow: #E4C900;
$primary_orange: #F1865B;
$primary_orange_shadow: #ab5905;
$primary_grey_shadow: #7C8C8D;
$primary_blue_light: #337ACC;
$primary_dark: #01667C;
$primary_red: #D0021B;
$primary_mpez: #e3d3c4;
$primary_green: #417505;
$number_opacity: 0.28;

//Transparent
$primary_transp: rgba($primary, .6);
$grey_transp: rgba(240,240,240,0.52);

$text_color: #848484;
$text_color_dark: #616161;
$link_grey: #B5B5B5;

//Grey
$color_grey: #ededed;

//color
$inverted: #dadcdd;

//Fonts - copied from understrap - not in use
$fonts_global: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$open_sans: 'Open Sans';

//Font size
$size_header: 42px;
$size_h1: 62px;
$size_h2: 32px;
$size_h3: 26px;
$size_h4: 22px;
$size_h5: 18px;
$size_h6: 16px;
$size_p: 14px;
$size_md: 13px;
$size_sm: 12px;
$size_xs: 11px;
$size_xxs: 10px;
$size_large: 36px;


//Border color
$border_grey: #CCC;
$bg_grey_light: #F1F1F1;
