/* Buttons
------------------------------------------------*/
.btn-primary,
.btn,
.button,
input[type="submit"],
button {
  border: none;
  font-weight: 500;
  font-size: 14px;
  background-color: $secondary;
  color: #FFF;
  border-radius: 20px;
  padding: .5rem 1rem;
  transition: all 540ms ease;
  opacity: 1;
  display: inline-block;
  transform: translateY(0);
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  line-height: 1.3;
  border: 2px solid $secondary;

  //Size
  &.medium {
    padding: .6rem 4rem;
    font-size: $size_h5;

    @include media-breakpoint-down(md){
      font-size: $size_h5;
      padding: .5rem 3rem;
    }
  }

  &.large {
    padding: 1.2rem 5rem;
    font-size: $size_h5;

    @include media-breakpoint-down(md){
      font-size: 15px;
      padding: 1.2rem 4.6rem 1.2rem;
    }
  }


  //Colors
  &.primary {
    background-color: $primary;
  }

  //:Hover
  &:hover {
    color: $secondary;
    background-color: transparent;
    opacity: 1;
  }

  &:focus,
  &.focus {
    outline: none;
    box-shadow: none !important;
  }
}
